.main-menu > ul > li > a, ul#top_menu li a.login  {
    color: #222;
}

.divider {
    margin-bottom: 25px;
}

.invalid-feedback {
    display: block;
}

.hero_single.version_2 {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/img/hero.jpg');
    /*background-color: #ff0000;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.call_section {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.hero_single .hero-text {
    text-align: right;
}

.hero_single .hero-text h1 {
    font-size: 4rem;
}

.hero_single .hero-text .sub-title {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.owl-theme.categories_carousel .item a {
    padding: 70px 20px;
}

.owl-theme.categories_carousel .item a h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.owl-theme.categories_carousel .item a small {
    color: #848484;
}

.hero_single .btn_lg {
    font-size: 1.2rem;
}

.hero_single p {
    margin-bottom: 0px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.what-words {
    ax-width: 561px;
    padding: 80px;
}

.what-words h2 {
    font-size: 2rem;
}

.what-words p {
    font-size: 1.125rem;
}

.what-image > img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 480px) {
    .what-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.call_section .box_1 {
    background-color: rgba(18, 25, 33, 0.3);
}

.imgBorder {
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.imgBorder-small {
    padding: 2px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}


.add_top_5 {
    padding-top: 5px;
}

.foo_bar {
    color: red;
}

.order_top {
    position: relative;
}

.order_top_guide {
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 0;
    top: -145px;
    width: 300px
}

.order_top_guide_text {
    color: white;
    background-color: #1F938B;
    border-radius: 25px;
    padding: 15px;
    width: 25%;
    position: absolute;
    left: 210px;
    top: -70px;
}


.order_bottom {
    position: relative;
    margin-top: 100px;
}

.order_bottom_guide {
    position: absolute;
    right: 0;
    top: -155px;
    width: 300px;
}

.order_bottom_guide_text {
    color: white;
    background-color: #1F938B;
    border-radius: 25px;
    padding: 15px;
    width: 25%;
    position: absolute;
    right: 230px;
    top: -90px;
}

@media screen and (max-width: 992px) {
    .order_top_guide_text {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .order_top_guide {
        left: -75px;
    }

    .order_top_guide_text {
        left: 140px;
        width: 60%;
    }

    .order_bottom {
        margin-top: 20px;
    }

    .order_bottom_guide {
        right: 0;
        top: -77px;
        width: 200px;
    }

    .order_bottom_guide_text {
        width: 60%;
        right: 160px;
        top: -60px;
    }
}